body,html {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0
}

.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #86242a;
  display: flex;
  justify-content: center;
}

.search-container {
  width: 30%;
  height: 100%;
  overflow-y: auto;
  background: #3345;
}

.search-container::-webkit-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none;  
  width: 0
}

.add-to-watchlist-btn {
  background: lightgreen;
  border: none;
  border-radius: 0 5px 5px 0;
  width: 50px;
  font-size: 20px
}

.add-to-watchlist-btn:hover {
  background: rgb(23, 235, 23);
  cursor: pointer;
}

.dash-container {
  width: 100%;
  height: 100%;
  background: #0D1117;
}

.watched-entry-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow: auto;
  }

.watched-entry-container::-webkit-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none;  
  width: 0
}

.robust-watched-entry-card {
  margin: 0 auto;
  margin-bottom: 10px;
  background: rgb(21, 21, 30);
  border: 1px solid #666;
  width: 90%;
  height: 100px;
  gap: 10px;
  border-radius: 7px;
  display: flex;
  font-size: 20px;
  color: #aaa;
  min-width: 430px;
}

.wli-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.watch-list-container::-webkit-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none;  
  width: 0
}

.wli-card {
  margin: 5px;
  background: rgb(21, 21, 30);
  border: 1px solid #666;
  width: 92%;
  height: 150px;
  border-radius: 7px;
  display: flex;
  justify-content: flex-start;
}

.wli-card:hover {
  cursor: url('/public/icons8-view-50.png'), auto;	
}

.complete-btn, .delete-btn {
width: 60px;
background: rgb(21, 21, 30);
border: 1px solid rgb(107, 107, 107);
}

.complete-btn:hover {
background: rgb(5, 223, 5);
cursor: pointer;
transition-duration: .5s;
}

.delete-btn:hover {
background: red;
cursor: pointer;
transition-duration: .5s;
}

.watched-overlay {
  background: rgba(21, 21, 30, 0.95);
  width: 56%;
  height: 150px;
  border-radius: 7px 0 0 7px;
  position: relative;
  z-index: 555;
}

.get-movies-btn {
  color:#dfd;
  font-size: 20px;
  border-radius: 7px;
  background: #313131;
  border: 1px solid #cff;
  margin-left: auto;
  margin-right: 50px;
  font-weight: 500
}

.get-movies-btn:hover {
  cursor: pointer;
  background: #585b86;
  transition-duration: .3s;
}
.change-view-btn {
  color:#dfd;
  font-size: 20px;
  width: 200px;
  height: 45px;
  margin: 20px;
  border-radius: 11px;
  background: #313131;
  border: 1px solid #cff;
  font-weight: 500;
 
}

.change-view-btn:hover {
  background: #585b86;
  cursor: pointer
}

.clear-search-btn {
  color:#dfd;
  font-size: 20px;
  width: 45px;
  height: 45px;
  border-radius: 11px;
  background: #313131;
  border: 1px solid #cff;
  font-weight: 500;
  position: relative;
  left: -65px;
  top: 12px;
}

.clear-search-btn:hover {
  cursor: pointer;
  background: #585b86;
  transition-duration: .3s;
}

.sticky {
  position: sticky;
  top: 0;
  background: rgb(21, 21, 30);
}

.btn-pill {
  width: 100px;
  height: 50px;
  border: 2px solid #ccf;
  border-radius: 5px;
}

.btn-pill button {
  height: 100%;
  width: 50%;
  background:#313131;
  border: none;
}

.btn-pill button:hover {
  cursor: pointer;
  background: #585b86
}

.minimal-watched-entry-card {
  display: grid;
  grid-template-columns: repeat(4, 35% 10% 50% 5%);
  width: 90%;
  border: 2px solid #cff;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 10px;
  align-items: center;
  color: #aaf;
  font-size: 20px;
  border-radius: 7px;
}