body,html {
  overflow: hidden;
  background: #86242a
}

.App {
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  background: #86242a;
  display: flex;
  justify-content: center;
}

.search-container {
  width: 30%;
  height: 94.5%;
  border: 1px solid black;
  overflow-y: scroll
}

.dash-container {
  width: 99%;
  height: 97.5%;
  background: rgb(21, 21, 20);
}

.dash-header {
  width: 100%;
  position:relative;
  line-height: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background: rgb(184, 53, 53);
  display: flex;
  gap: 25%;
  justify-content: center;
}

.dhi {
  background: #fff;
  color: #000;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.dhi:hover {
  background: rgb(144, 40, 40)
}

.watched-entry-card {
  width: 400px;
  height: 150px;
  background: #fff;
  border-radius: 15px;
  text-align: center;
  margin-top: 10px;
  color: #fff
}

.wli-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.wli-card {
  margin: 5px;
  background: rgb(21, 21, 30);
  border: 1px solid #666;
  width: 92%;
  height: 150px;
  border-radius: 7px;
  display: flex;
  justify-content: flex-start;
}

.wli-card:hover {
  cursor: url('/public/icons8-view-50.png'), auto;	
}

.complete-btn, .delete-btn {
width: 60px;
background: rgb(21, 21, 30);
border: 1px solid rgb(107, 107, 107);
}

.complete-btn:hover {
background: rgb(5, 223, 5);
cursor: pointer;
transition-duration: .5s;
}

.delete-btn:hover {
background: red;
cursor: pointer;
transition-duration: .5s;
}

.watched-overlay {
  background: rgba(21, 21, 30, 0.95);
  margin-top: 5.5px;
  width: 56%;
  height: 150px;
  border-radius: 7px 0 0 7px;
  position: absolute;
}

.get-movies-btn {
  color:#dfd;
  font-size: 20px;
  border-radius: 7px;
  background: #313131;
  border: 1px solid #cff;
  margin-left: auto;
  margin-right: 50px;
  font-weight: 500
}

.get-movies-btn:hover {
  cursor: pointer;
  background: #515151;
  transition-duration: .3s;
}