body,html {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0
}

.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #86242a;
  display: flex;
  justify-content: center;
}

.search-container {
  width: 30%;
  height: 100%;
  overflow-y: auto;
  background: #33334455;
}

.search-container::-webkit-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none;  
  width: 0
}

.search-card-title {
  font-size: 24px;
  font-weight: 700;
  color: rgb(241, 100, 100)
}

.add-to-watchlist-btn {
  background: lightgreen;
  border: none;
  border-radius: 0 5px 5px 0;
  width: 50px;
  font-size: 20px
}

.add-to-watchlist-btn:hover {
  background: rgb(23, 235, 23);
  cursor: pointer;
}

.dash-container {
  width: 100%;
  height: 100%;
  background: #0D1117;
}

.watched-entry-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow: auto;
  }

.watched-entry-container::-webkit-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none;  
  width: 0
}

.robust-watched-entry-card {
  display: flex;
  margin: 0 50px;
  margin-bottom: 10px;
  background: rgb(21, 21, 30);
  border: 1px solid #666;
  height: 100px;
  gap: 10px;
  border-radius: 7px;
  display: flex;
  font-size: 20px;
  color: #aaa;
  min-width: 430px;
}

.wli-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.watch-list-container::-webkit-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none;  
  width: 0
}

.watch-list-modal {
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  background:#232323;
  border-radius: 4px;
  outline: none;
  position: absolute;
  width: 500px;
  height: 700px;
  top: 50%;
  left: 50%;
  margin: -400px 0 0 -250px;
}

.filter-btn {
  background: transparent;
  border: 1px solid rgb(107, 107, 107);
  border-radius: 15px;
  height: 60px;
}

.filter-btn:hover {
  cursor: pointer;
  background:#dfd;
  color: #313131;
  transition-duration: .5s;
}

.close-filter-btn {
  border: 1px solid #cff;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  padding: 5px;
  margin-right: 5px;
  color: #cff;
  background: none;
  font-size: 24px
}

.close-filter-btn:hover {
  cursor: pointer;
  background:#dfd;
  color: #313131;
  transition-duration: .5s;
}

.filter-modal-btns-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 3px;
  background: #232323;
}

.filter-modal-btn {
  color:#dfd;
  font-size: 16px;
  height: 50px;
  width: 120px;
  margin: 20px;
  border-radius: 11px;
  background: #313131;
  border: 1px solid #dfd;
  font-weight: 700;
}

.filter-modal-btn:hover {
  background:#dfd;
  color: #313131;
  cursor: pointer;
}

.watch-list-modal-overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(63, 63, 63, 0.75);
}

.wli-card {
  margin: 5px;
  background: rgb(21, 21, 30);
  border: 1px solid #666;
  width: 100%;
  height: 150px;
  border-radius: 7px;
  display: flex;
  justify-content: flex-start;
}

.wli-card:hover {
  cursor: url('/public/icons8-view-50.png'), auto;	
}

.complete-btn, .delete-btn {
width: 60px;
background: rgb(21, 21, 30);
border: 1px solid rgb(107, 107, 107);
}

.complete-btn img, .delete-btn img {
  margin-top: 2px;
  margin-left: -0.5px;
}

.complete-btn:hover {
background: rgb(5, 223, 5);
cursor: pointer;
transition-duration: .5s;
}

.delete-btn:hover {
background: red;
cursor: pointer;
transition-duration: .5s;
}

.watched-overlay {
  background: rgba(21, 21, 30, 0.95);
  height: 150px;
  border-radius: 7px 0 0 7px;
  width: inherit
}

.get-movies-btn {
  color:#dfd;
  font-size: 20px;
  border-radius: 7px;
  background: #313131;
  border: 1px solid #cff;
  margin-left: 5px;
  margin-right: 50px;
  font-weight: 500
}

.get-movies-btn:hover {
  cursor: pointer;
  background:#dfd;
  color: #313131;
  transition-duration: .3s;
}
.change-view-btn {
  color:#dfd;
  font-size: 20px;
  width: 200px;
  height: 45px;
  border-radius: 11px;
  background: #313131;
  border: 1px solid #cff;
  font-weight: 500;
 
}

.change-view-btn:hover {
  background:#dfd;
  color: #313131;
  cursor: pointer
}

.clear-search-btn {
  color:#dfd;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 11px;
  background: #313131;
  border: 1px solid #cff;
  font-weight: 500;
  position:relative;
  left: -55px;
  top: 10px;
  margin-right: -50px
}

.clear-search-btn:hover {
  cursor: pointer;
  background:#dfd;
  color: #313131;
  transition-duration: .3s;
}

.sticky {
  position: sticky;
  top: 0;
  background: rgb(21, 21, 30);
}

.btn-pill {
  width: 100px;
  height: 50px;
  border: 2px solid #ccf;
  border-radius: 5px;
}

.btn-pill button {
  height: 100%;
  width: 50%;
  background:#313131;
  border: none;
}

.btn-pill button:hover {
  cursor: pointer;
  background:#dfd;
  color: #313131;
}

.minimal-watched-entry-card {
  display: grid;
  grid-template-columns: repeat(4, 35% 10% 50% 5%);
  width: 90%;
  border: 2px solid #cff;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 10px;
  align-items: center;
  color: #aaf;
  font-size: 20px;
  border-radius: 7px;
}

.search-card-outer-box {
  width: 85%;
  height: 130px;
  background: rgb(43, 43, 94);
  display: flex;
  border-radius: 5px;
  box-shadow: 0 0 5px #000;
}

.search-card-inner-box {
  display: flex;
  flex-direction: column;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px 10px 10px;
}

.c {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {

  .search-card-outer-box {
    box-shadow: none;
  }

  .search-card-inner-box {
    display: none
  }

}
